@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


/* You can add global styles to this file, and also import other style files */
body {
     background: #fafafa;
 }


 .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container > * {
    width: 100%;
  }
  
  .form-container form {
    margin-bottom: 20px;
  }
  
  .form-container form > * {
    margin: 5px 0;
  }
  
  .form-container .mat-radio-button {
    margin: 0 12px;
  }
  