<!--The content below is only a placeholder and can be replaced.-->
<app-header (featureSelected)="onNavigate($event)"></app-header>
<app-login-status></app-login-status>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<button (click)="testapi()">Test Api</button>
<a [routerLink]="[ 'admin','movie' ]" [jwt]="['admin']">Test Admin</a>
<a [routerLink]="[ 'admin','movie' ]" jwt="admin">Test Admin2</a>
<a [routerLink]="[ 'admin','movie' ]" jwt>Test Admin3</a>
