span {
    font-family: Avenir, Arial, sans-serif;
    font-weight: bold;
    vertical-align: top;    
  }
  img{
    margin-left: 10px;

  }
 

  .span2 {
    font-family: Avenir, Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;    
  }