span {
    font-family: Avenir, Arial, sans-serif;
    font-weight: bold;
    margin-left: 3px;
vertical-align: middle
  }
  img{
    margin-left: 3px;
    vertical-align: middle

  }
  button{
    margin-left: 3px;
    vertical-align: middle
    
  }